# Vivado: התעלמות מכל תוצרי הבנייה/סימולציה
project_1.cache/
project_1.sim/
project_1.runs/
project_1.hw/
project_1.ip_user_files/
project_1.gen/
project_1.webtalk/
project_1.xpr
project_1.xpr.lock
project_1.wcfg
CPU_simple_riscV/utils_1/



# זבל מערכת
Thumbs.db
Desktop.ini
